.register-page {
  .limiter {
    .login100-form-btn {
      margin: 0 10px;
    }
  }
  .login-now {
    span {
      font-size: 15px;
      color: #999999;
      line-height: 1.5;
    }
  }
}
.error {
  @include pxRem('margin-top', 5);
  @include pxRem('font-size', 14);
  color: map-get($color, red);
}
