.register-page {
  .limiter {
    .login100-form-btn {
      width: 43%;
      margin: 0 10px;
    }
  }
}
.error {
  @include pxRem('margin-top', 5);
  @include pxRem('font-size', 14);
  color: map-get($color, red);
}
