button {
  @include appearance(none);
  @include font-smoothing(antialiased);
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  &:disabled {
    color: map-get($color, text-muted);
  }
}
button,
input,
input[type='checkbox'] {
  background: none;
  outline: none;
  color: inherit;
  font-family: inherit;
}
@include placeholder() {
  color: map-get($color, text-muted);
}
.login-btn {
  @include pxRem(font-size, 32);
  @include pxRem(padding, 30 60);
  @include pxRem(border-radius, 5);
  background: map-get($color, primary);
  color: map-get($color, white);
  // font-size: convertPxToRem(32px);
  // padding: convertPxToRem(30px) convertPxToRem(60px);
  // border-radius: convertPxToRem(5px);
  position: fixed;
  width: 80%;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}
$todoPrimary: map-get($color, primary);
$todoTextLeftAlign: convertPxToRem(60px);
.todos {
  position: relative;
  .todos-header {
    @include pxRem(margin-bottom, 40);
    position: relative;
    // border: 1px solid #eee;
    .form-add-task {
      @include pxRem(margin-bottom, 25);
      @include pxRem(width, 32);
      @include pxRem(height, 32);
      @include pxRem(line-height, 32);
      @include pxRem(left, 15);
      @include appearance(none);
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      text-align: center;
      border: 1px solid map-get($color, text-muted);
      border-radius: 50%;
      transition: all .2s ease-in-out;
    }
    // .form-add-task-style {
    //   @include pxRem(margin-bottom, 25);
    //   @include pxRem(width, 32);
    //   @include pxRem(height, 32);
    //   @include pxRem(line-height, 32);
    //   @include pxRem(left, 15);
    //   @include appearance(none);
    //   text-align: center;
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   margin: auto 0;
    //   text-align: center;
    //   border: 1px solid map-get($color, text-muted);
    //   border-radius: 50%;
    //   transition: all .2s ease-in-out;
    //   background-color: map-get($color, orange);
    //   border: 1px solid map-get($color, orange);
    //   &::before {
    //     position: absolute;
    //     top: 50%;
    //     transform: translate(-50%, -50%);
    //     left: 10px;
    //     font-size: 20px;
    //     font-family: 'icomoon';
    //     content: '\e900';
    //     border-radius: 50%;
    //     color: map-get($color, white);
    //   }
    // }
    .icon-chevron-down1 {
      position: absolute;
      left: 15px;
      top: 20px;
    }
    .fa-chevron-down {
      @include pxRem(height, 24);
      @include pxRem(font-size, 24);
      left: 15px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      display: block;
      font-family: "ipwa";
    }
    .task-name {
      @include font-smoothing(antialiased);
      @include pxRem(font-size, 24);
      @include pxRem(padding, 15 10 15 40);
      border: 1px solid #e2e2e2;
      position: relative;
      width: 100%;
      font-style: italic;
      transition: all .4s ease-in-out;
      @include box-shadow(inset 0px 0px 8px 4px rgba(0, 0, 0, 0.03));
      &:focus {
        border: 1px solid map-get($color, orange);
      }
    }
    .new-task {
      @include pxRem(font-size, 48);
      @include pxRem(right, 15);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      color: map-get($color, primary);
    }
  }
  .page-main {
    @include pxRem(margin-bottom, 150);
  }
  .todos-main {
    position: relative;
    z-index: 2;
    margin: 10px 0;
    .main-message {
      @include pxRem(font-size, 14);
      @include pxRem(padding, 25 15);
      color: map-get($color, text-secondary);
      text-align: center;
      &:before {
        @include pxRem(font-size, 40);
        @include pxRem(margin-bottom, 8);
        @include pxRem(padding-right, 8);
        display: block;
        color: map-get($color, text-muted);
        font-family: "icomoon";
        content: "\e904";
      }
    }
  }
  .todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    app-todo-item {
      &:last-child {
        .todo-item {
          border-bottom: none;
        }
      }
    }
    .todo-item {
      @include pxRem(font-size, 24);
      @include pxRem(border-radius, 5);
      position: relative;
      border: 1px solid map-get($color, border);
      user-select: none;
      &:hover {
        .item-btn {
          display: block;
        }
      }
      .item-name {
        @include pxRem(padding, 15 60 15 15);
        @include pxRem(margin-left, 45);
        white-space: pre-line;
        word-break: break-all;
        display: block;
        line-height: 1.2;
        text-align: left;
        @include transition(color 0.4s);
        &.is-completed {
          color: map-get($color, text-muted);
          text-decoration: line-through;
        }
      }
      .item-btn {
        @include pxRem(right, 15);
        @include pxRem(font-size, 20);
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        color: map-get($color, text-muted);
        transition: color 0.1s ease-out;
        &:after {
          font-family: "icomoon";
          content: "\e901";
        }
      }
    }
  }
  .item-check {
    @include pxRem(width, 32);
    @include pxRem(height, 32);
    @include pxRem(line-height, 32);
    @include pxRem(left, 15);
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
    border: 1px solid map-get($color, text-muted);
    border-radius: 50%;
    @include appearance(none);
    // transition: all .2s ease-in-out;
    &:checked {
      border: 1px solid map-get($color, orange);
      background-color: map-get($color, orange);
      &:after {
        color: map-get($color, white);
        content: "\e900";
        visibility: inherit;
      }
      + .item-name {
        opacity: 0.5;
        text-decoration: line-through;
      }
    }
    &:after {
      @include pxRem(left, 2);
      @include pxRem(font-size, 25);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      display: block;
      visibility: hidden;
      font-family: "icomoon";
      content: "\e900";
      // transition: all 0.2s ease-in-out;
      color: map-get($color, text-muted);
    }
  }
}

@include respond-below("small") {
  .todos {
    .todos-header {
      .task-name {
        @include pxRem(padding-left, 15);
      }
    }
    .todos-footer {
      .todos-footer-toolbar {
        p {
          display: none;
        }
        i {
          font-size: 22px;
        }
      }
    }
  }
}
// @include respond-above("medium") {
//   .todos-footer-toolbar {
//     flex-grow: 7;
//     .toolbar-item {
//       &.cleaner,
//       &.counter {
//         flex: 2 0 !important;
//       }
//       &.cleaner {
//         text-align: right !important;;
//       }
//       &.counter {
//         text-align: left !important;;
//       }
//     }
//   }
// }
// @include respond-below("medium") {
//   .todos {
//     width: 100%;
//     margin: 0;
//     left: 0;
//     @include transform(unset);
//     @include box-shadow(unset);
//     .todo-list {
//       .todo-item {
//         .item-btn {
//           display: block;
//         }
//       }
//     }
//     .todos-footer {
//       background: map-get($color, white);
//       position: fixed;
//       z-index: 9000;
//       bottom: 0;
//       width: 100%;
//       padding: convertPxToRem(8px) convertPxToRem(15px);
//       height: auto;
//       &:before {
//         display: none;
//       }
//       .todos-footer-toolbar {
//         .toolbar-item {
//           font-size: convertPxToRem(10px);
//           [class*="i-"],
//           [class*="n-"] {
//             display: block;
//             font-size: convertPxToRem(24px);
//           }
//           .toolbar-btn {
//             border: none;
//             padding: 0;
//             &.active {
//               color: map-get($color, primary);
//             }
//           }
//         }
//       }
//     }
//   }
// }
