.page-header {
  @include pxRem(margin-bottom, 30);
  // margin-bottom: convertPxToRem(30px);
  text-align: center;
  position: relative;
  padding: 15px;
  background: #ff9801;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  .content-header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 70px;
    max-width: 100%;
  }
  .page-title {
    display: flex;
    align-items: center;
  }
  .avata-user {
    @include pxRem(width, 60);
    // width: convertPxToRem(60px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    border-radius: 50%;
    }
  }
}
@include respond-above("medium") {
  .page-header {
    .nav-bar {
      display: none;
    }
    
  }
}
@include respond-below("small") {
  .page-header {
    .content-header {
      @include pxRem(padding, 0);
    }
    .page-title {
      font-size: 15px;
    }
  }
  // .page-header {
  //   display: flex;
  //   align-items: center;
  //   flex-grow: 12;
  //   position: fixed;
  //   width: 100%;
  //   top: 0;
  //   z-index: 10;
  //   background: map-get($color, white);
  //   border-bottom: 1px solid map-get($color, border);
  //   .logo {
  //     width: convertPxToRem(40px);
  //   }
  //   .page-title {
  //     flex: 8 0;
  //     font-size: convertPxToRem(32px);
  //     // text-align: left;
  //     // color: map-get($color, text);
  //     // text-shadow: none;
  //   }
  //   .nav-bar {
  //     flex: 2 0;
  //     font-size: convertPxToRem(32px);
  //     text-align: right;
  //   }
  // }
}
