.page-header {
  @include pxRem(margin-bottom, 30);
  padding: 15px 0;
  text-align: center;
  position: relative;
  background: #ff9801;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  .content-header {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
  }
  .logo {
    width: 70px;
    max-width: 100%;
  }
  .page-title {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .avata-user {
    display: flex;
    border-radius: 50%;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    .back-home {
      top: 0;
      right: 0;
      position: absolute;
    }
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .dropdown {
    position: relative;
  }
  .thumb-avata {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .menu-profile {
    display: flex;
    align-items: center;
    i {
      font-size: 30px;
      color: map-get($color, white);
    }
  }
  .box-profile {
    position: relative;
    height: 100%;
    .button-login {
      position: absolute;
      bottom: 20%;
      right: 20px;
    }
  }
  .thumb-avata {
    position: relative;
  }
  .content-profile {
    .mail-user {
      p {
        font-size: 18px;
      }
    }
  }
  .button-logout {
    display: flex;
    align-items: center;
    padding-right: 5px;
    a {
      font-size: 15px;
      color: map-get($color,white);
    }
  }
  .dropdown-content {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 100px;
    background-color: #f9f9f9;
    width: 100%;
    height: 85vh;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
    padding: 30px 15px;
    z-index: 99;
  }
}
@include respond-above("medium") {
  .page-header {
    .nav-bar {
      display: none;
    }
    
  }
}
@include respond-below("small") {
  .page-header {
    .content-header {
      @include pxRem(padding, 0);
    }
    .page-title {
      font-size: 15px;
    }
  }
  // .page-header {
  //   display: flex;
  //   align-items: center;
  //   flex-grow: 12;
  //   position: fixed;
  //   width: 100%;
  //   top: 0;
  //   z-index: 10;
  //   background: map-get($color, white);
  //   border-bottom: 1px solid map-get($color, border);
  //   .logo {
  //     width: convertPxToRem(40px);
  //   }
  //   .page-title {
  //     flex: 8 0;
  //     font-size: convertPxToRem(32px);
  //     // text-align: left;
  //     // color: map-get($color, text);
  //     // text-shadow: none;
  //   }
  //   .nav-bar {
  //     flex: 2 0;
  //     font-size: convertPxToRem(32px);
  //     text-align: right;
  //   }
  // }
}
